<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Numbers to Words</title>
    </head>
    <body>
        <h1>Numbers to Words</h1>
        <p>Please enter a number to convert to words. No letters or punctuation please.</p>
        <form action='/results' method='post'>
            <label for='input-number'>Enter a number:</label>
            <input type='text' id='input-number' name='input-number'>
            <br><br>
            <button type='submit'>Convert to words</button>
        </form>

    </body>
</html>
