<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Numbers to Words</title>
    </head>
    <body>
        <h1>Numbers to Words</h1>
        <h3>Your number converted to words is:</h3>
        <h4>{{ new_array }}</h4>
    </body>
</html>
